NextVer.Api/bin/
NextVer.Api/obj/
NextVer.Domain/obj/
NextVer.Domain/bin/
NextVer.Infrastructure/bin/
NextVer.Infrastructure/obj/
NextVer.Application/bin/
NextVer.Application/obj/
NextVer.Contracts/bin/
NextVer.Contracts/obj/
NextVer.Api.Tests/bin/
NextVer.Api.Tests/obj/
NextVer.Domain.Tests/obj/
NextVer.Domain.Tests/bin/
NextVer.Infrastructure.Tests/bin/
NextVer.Infrastructure.Tests/obj/
NextVer.Application.Tests/bin/
NextVer.Application.Tests/obj/
NextVer.Contracts.Tests/bin/
NextVer.Contracts.Tests/obj/
.idea/
*.info
.vscode/
.vs/
NextVer.sln.DotSettings.user
